:root {
--boggle-background: white;
--boggle-color: black;
}

.buttons {
  flex-direction: row;
}
.buttons > button {
  flex: 1;
  padding: 1rem;
  background: black;
  color: white;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.new-game {
  font-size: 1.5rem;
  padding: .75rem;
  margin: 1rem auto 1rem auto;
  background-color: var(--boggle-color);
  color: var(--boggle-background);
  border: none;
  box-shadow: 0 .25rem .25rem grey;
  text-decoration: none;
}

.timer {
  font-size: 1.5rem;
  padding: .75rem;
  margin: 1rem auto 1rem auto;

}

.letter {
  height: 8rem;
  width: 8rem;
  font-size: 4rem;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.letter > .inner {
  height: 6rem;
  width: 6rem;
  justify-content: center;
  align-items: center;
}
.letter.selected > .inner {
  background-color: black;
  color: white;
}
.selected > .e:before {
  content: '';
  width: 1rem;
  height: 3rem;
  background-color: black;
  position: absolute;
  transform: rotate(90deg);
  margin-left: 8rem;
  /* z-index: 1; */
}
.selected > .n:before {
  content: '';
  width: 1rem;
  height: 3rem;
  background-color: black;
  position: absolute;
  margin-top: 8rem;
}
.selected > .w:before {
  content: '';
  width: 1rem;
  height: 3rem;
  background-color: black;
  position: absolute;
  transform: rotate(270deg);
  margin-right: 8rem;
}
.selected > .s:before {
  content: '';
  width: 1rem;
  height: 3rem;
  background-color: black;
  position: absolute;
  margin-bottom: 8rem;
}
.selected > .se:before {
  content: '';
  width: 1rem;
  height: 6rem;
  background-color: black;
  position: absolute;
  margin-bottom: 8rem;
  margin-right: 8rem;
  transform: rotate(315deg);
}
.selected > .ne:before {
  content: '';
  width: 1rem;
  height: 6rem;
  background-color: black;
  position: absolute;
  margin-top: 8rem;
  margin-right: 8rem;
  transform: rotate(225deg);
}
.selected > .sw:before {
  content: '';
  width: 1rem;
  height: 6rem;
  background-color: black;
  position: absolute;
  margin-bottom: 8rem;
  margin-left: 8rem;
  transform: rotate(45deg);
}
.selected > .nw:before {
  content: '';
  width: 1rem;
  height: 6rem;
  background-color: black;
  position: absolute;
  margin-top: 8rem;
  margin-left: 8rem;
  transform: rotate(135deg);
}

.progress {
  align-items: center;
  padding: 1rem;
}

.wordlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 2rem;
}

#wordentry {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  border: thick solid var(--boggle-color);
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.shake {
  animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}

@keyframes shake {
  10% {
    transform: translate3d(-3px,0,0);

  }
  20% {
    transform: translate3d(4px,0,0);
  }
  30% {
    transform: translate3d(-6px,0,0);
  }
  40% {
    transform: translate3d(6px,0,0);
  }
  50% {
    transform: translate3d(-6px,0,0);
  }
  60% {
    transform: translate3d(6px,0,0);
  }
  70% {
    transform: translate3d(-6px,0,0);
  }
  80% {
    transform: translate3d(4px,0,0);
  }
  90% {
    transform: translate3d(-3px,0,0);
  }
  100% {
  }
}

.timer-style {
  background-color: black;
  height: 2rem;
  align-self: center;
}
.timer-animation {
  animation: timer 180s linear 0s infinite;
}

@keyframes timer {
  0% {
    width: 100%;
  }
  100%  {
    width: 0;
  }
}
