.heist {

}

.heist h3 {
  grid-area: title;
}

.scenario {
  grid-area: scenario;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "organizer location security"
                         "prize location security";
}



.scenario .location {
  grid-area: location;
}

.scenario .organizer {
  grid-area: organizer;
}

.scenario .prize {
  grid-area: prize;
}

.scenario .security {
  grid-area: security;
}

.bears {
  grid-area: bears;
  flex-direction: row;
  justify-content: space-between;
}

.bear {
  flex: auto;
  margin: 0.5rem;

}

.stat-meter {
  align-items: center;
  height: 6em;
}

.stat {
  width: 100%;
  border: thin solid black;
}
