body {
  font-size: 18px;
  font-family: sans-serif;
  align-items: center;
  margin: 0;
}

body, #app, .app {
  height: 100vh;
}

body, div, footer, form {
  display: flex;
}

div, form {
  flex-direction: column;
}

.dark-mode {
  filter: invert(100%);
  background-color: black;
}


#app, .app {
  flex: auto;
}

.app {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: auto 3em;
  grid-template-areas: "main sidebar"
                       "footer sidebar";
}

main {
  grid-area: main;
  padding: 0 0.5rem;
}
main > div {
  flex: auto;
}

footer {
  grid-area: footer;
  padding: 0 0.5rem;
}

.sidebar {
  grid-area: sidebar;
  padding: 0 0.5rem;
}

.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.row {
  flex-direction: row;
}
